<% if signed_in? %>
    <%= render '/portfolios/portfolio' %>
<% else %>
    <div class="row text-center">
        <div style="margin-top: 10em;">
            <%= render '/users/form' %>
        </div>
    </div>
<% end %>