<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.first_name %>,</h1>
    <p>This is a reminder that one of your metrics in your portfolio has exceeded your pre-defined threshold value.</p>
    <p>It is advisable for you to check up your positions.</p>
  </body>
</html>